.ant-menu::before {
    display: none;
}

.ant-menu-horizontal::after {
    display: none;
}
.rightAlignedItem {
    margin-left: auto;
  }

/* Header.css */
.ant-layout-header {
    padding: 0 !important;
  }
  
  .dark-theme .ant-menu {
    background-color: #001529;
  }
  
  .light-theme .ant-menu {
    background-color: #ffffff;
  }
  
  /* Header.css */

@media screen and (max-width: 768px) {
    .responsive-menu {
      display: none;
    }
  
    .responsive-menu-button {
      display: block;
    }
  }
  
  @media screen and (min-width: 769px) {
    .responsive-menu {
      display: block;
    }
  
    .responsive-menu-button {
      display: none;
    }
  }
  